.food_card {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #FDEADC;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 700px;

}

.basket_item {

  gap: 10px;

  background-color: #FDEADC;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  overflow-x: hidden;

}

.basket_numbers {
  display: flex;
  justify-content: space-between;
}

#second_card_section {
  padding-left: 20px;
}

#third_card_section {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  padding-right: 20px;

}

.main_section {
  width: 100%;
}

.order_section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding-left: 50px;
  box-sizing: border-box;
}


.menu {
  flex: 1;
  margin-right: 100px;
}


.basket_overlay {
  flex: 0 0 300px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  background-color: #363534;
  border-radius: 20px 0 0 20px;
}


.basket_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basket_content_mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #363534;
}

.main_header {
  background-color: #E76C1F;
  height: 100px;
}

.burger_header {
  height: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  background-color: #E76C1F;

  margin-bottom: 50px;
}

.shop_introduction {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop_name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #E76C1F;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.main_img_container {
  background-image: url(assets/img/main_img.png);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.add-btn {
  width: 100px;
  height: 50px;
  background-image: url("assets/img/add_to_basket.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: #FDEADC;
}

.add-btn:hover {
  background-image: url("assets/img/add_to_basket_hover.svg");
}

#rating {
  display: flex;
  gap: 6px;
  background-color: #FDEADC;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 30px;
}

.rating-count {
  color: #9a9a9a;
}

.highlight {
  color: #E76C1F;
}

.seperator {
  height: 5px;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
  background-color: #FDEADC;
  box-sizing: border-box;
}

#total {
  color: #FDEADC;
  margin: 20px;
}

/* #basket_dialog {
  width: 300px;
  height: 500px;
  background-color: red;
} */

@media (max-width: 1170px) {
  .food_card {
    width: auto;
  }
}

@media (max-width: 740px) {

  .hide_mobile {
    display: none;
  }

  .menu {
    margin: 0;
  }

  .order_section {
    padding-right: 50px;
  }

  .show_mobile {
    display: block;
  }

  .mobile_footer {
    display: block !important;
  }

}

body {
  overflow-x: hidden;
}

#basket_dialog {
  padding: 0;
  border: none;
  max-width: none;
  background: transparent;
}

.dialog_content {
  border: none;
  height: 50vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.basket_btn {
  background-color: #E76C1F;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

#basket_mobile {
  width: 80%;
}

.mobile_footer {
  width: 100%;
  height: 50px;
  background-color: #363534;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
}

#seperator_mobile {
  height: 5px;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
  background-color: #FDEADC;
  box-sizing: border-box;
}

.mobile_btn {
  width: 30px;
  height: 30px;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: #363534;
}

.m_btn_home {
  background-image: url("assets/icons/mobile/home.png");
}
.m_btn_basket {
  background-image: url(assets/icons/mobile/shopping_cart.png);
}
.m_btn_orders {
  background-image: url(assets/icons/mobile/takeout_dining.png);
}
.m_btn_profile {
  background-image: url(assets/icons/mobile/person.png);
}

.m_btn_home:hover {
  background-image: url("assets/icons/mobile/aktive/home.png");
}

.m_btn_basket:hover {
  background-image: url("assets/icons/mobile/aktive/shopping_cart.png");
}

.m_btn_orders:hover {
  background-image: url("assets/icons/mobile/aktive/takeout_dining.png");
}

.m_btn_profile:hover {
  background-image: url("assets/icons/mobile/aktive/person.png");
}

.mobile_menu {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}