@media (max-width: 740px) {

  .hide_mobile {
    display: none;
  }

  .menu {
    margin: 0;
  }

  .order_section {
    flex-direction: column;
    margin-bottom: 50px;
    padding-right: 50px;
  }

  .show_mobile {
    display: block;
  }

  .mobile_footer {
    display: block !important;
  }

  .basket_overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
    top: auto;
    border-radius: 20px 20px 0px 0px;

    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .basket_overlay.open {
    height: calc(80vh - 50px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding-top: 36px;
  }

  .basket_content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #basket {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .basket_item {
    width: auto;
    padding: 12px 84px;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .food_card {
    width: 700px;
    margin-right: 0;
    flex-direction: row !important;
  }

  #total {
    margin-top: auto;
  }
}

@media (max-width: 580px) {

  .food_card {
    flex-direction: column !important;
  }

}

@media (min-width: 1440px) {
  .right_column {
    right: calc((100vw - 1440px) / 2);
  }
}

@media (max-width: 1180px) {
  .food_card {
    width: auto;
    margin-right: 350px;
  }
}

@media (max-width: 1180px) {
  .food_card {
    flex-direction: column;
  }
}